*{
  margin:0;
  padding:0px;
}

.App-header h1{
  text-align:center;
  font-size: 50px;
  letter-spacing: 12px;
  padding-top:35px;
}

.search-input input{
  outline:none;
  border:1px SOLID #333;
  border-bottom:2px solid black;
  width:60%;
  margin-left:20%;
  MARGIN-top:30px;
  padding-top:10px;
  border-radius:5px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

.search-input input:hover, .search-input input:focus{
  border:1px solid #2f2;
  box-shadow: 2px 2px 2px 2px #2f2;
}

.Results{

  margin:50px;
  display: flex;
  width: 35%;
  border: 1px solid #333;
  flex-direction: column;
}
